.mainHeaderFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100vh;
}

.mainHeaderFlexTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.mainHeaderFlexTopMenuList {
    display: flex;
}

.mainHeaderFlexTopMenuListItem {
    padding: 0 15px;
}

.mainHeaderFlexTopMenuListItemLink {
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
}

.mainHeaderFlexTopMenuListItemLink:hover {
    color: #fff;
    transition: 0.5s;
    opacity: 0.7;
}

.mainHeaderFlexTopMenuListItemLink>svg {
    margin-bottom: 5px;
}

.mainHeaderFlexTopCabLink {
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}

.mainHeaderFlexTopCabLink:hover {
    color: #00B1E3;
    transition: 0.5s;
}

.mainHeaderFlexTopCash {
    position: relative;
}

.mainHeaderFlexTopCashButton {
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(180deg, rgba(73, 180, 207, 1) 0%, rgba(0, 149, 186, 1) 100%);
    box-shadow: 5px 5px 25px rgba(0, 177, 227, 0.31);
    padding: 0 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #fff;
}

.mainHeaderFlexTopCashButton>span {
    font-size: 18px;
    margin-left: 7px;
}

.cashbackDropdown {
    position: relative;
    display: inline-block;
}

.cashbackDropdownButton {
    background: linear-gradient(180deg, rgba(73, 180, 207, 1) 0%, rgba(0, 149, 186, 1) 100%);
    box-shadow: 5px 5px 25px rgb(0 177 227 / 31%);
    color: #fff;
    padding: 0 40px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.cashbackDropdownButton>svg {
    margin-left: 10px;
    margin-top: -5px;
    transition: 0.5s;
}

.cashbackDropdown:hover .cashbackDropdownButton>svg {
    transform: rotate(180deg);
    margin-top: 5px;
    transition: 0.5s;
}

.cashbackDropdown:hover .cashbackDropdownContent {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.cashbackDropdownContent {
    display: none;
    position: absolute;
    background: rgba(0, 149, 186, 1);
    min-width: 100%;
    z-index: 1;
    padding: 10px 0 5px;
    transition: 0.5s;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.cashbackDropdownContent a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    transition: 0.5s;
}

.cashbackDropdownContent a:hover {
    color: #000;
    transition: 0.5s;
}

.cashbackDropdown:hover .cashbackDropdownContent {
    display: block;
    transition: 0.5s;
}

.mainHeaderFlexTopMenuDropdown {
    background: rgba(6, 9, 20, 0.75);
    padding: 25px 20px;
    margin-top: 15px;
}

.mainHeaderFlexTopMenuDropdown::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 40px;
    border-top: 20px solid rgba(6, 9, 20, 0.75);
    border-left: 20px solid transparent;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mainHeaderFlexTopMenuDropdown .dropdown-item {
    font-size: 16px;
    color: #fff;
    transition: 0.5s;
}

.mainHeaderFlexTopMenuDropdown .dropdown-item:hover {
    font-size: 16px;
    color: #00B1E3;
    transition: 0.5s;
    background: none;
}

.mainHeaderFlexTopMenuCall {
    position: absolute;
    right: 10px;
    top: 100px;
}

.mainHeaderFlexTopMenuCallText {
    opacity: 0.7;
    font-size: 14px;
    font-weight: 300;
    top: -12px;
    right: 0;
    position: absolute;
}

.mainHeaderFlexTopMenuCallLink {
    color: #fff;
    font-size: 20px;
    transition: 0.5s;
}

.mainHeaderFlexTopMenuCallLink:hover {
    color: #00B1E3;
    transition: 0.5s;
}

.mainHeaderFlexTopMenuLang>ul>li {
    display: inline-block;
    padding: 0 10px 0 0;
}

.mainHeaderFlexTopMenuLang>ul>li>a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    transition: 0.5s;
}

.mainHeaderFlexTopMenuLang>ul>li>a:hover {
    color: #00B1E3;
    transition: 0.5s;
}

.mainHeaderFlexTopMenuLangLink.active {
    color: #00B1E3;
}

.mainHeaderFlexCenter>.row {
    align-items: center;
}

.mainHeaderFlexCenterText>h4 {
    font-size: 50px;
    font-weight: 100;
    color: #00B1E3;
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.mainHeaderFlexCenterText>h3 {
    margin-top: 20px;
    margin-bottom: 0;
}

.mainHeaderFlexCenterText>a {
    color: #00B1E3;
    display: inline-block;
    font-size: 24px;
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 500;
}

.mainHeaderFlexCenterTextLinks {
    display: flex;
    align-items: center;
}

.mainHeaderFlexCenterTextLinks>a {
    color: #00B1E3;
    margin-top: 35px;
    display: inline-block;
    border-bottom: 1px dashed linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    font-size: 20px;
    margin-bottom: 35px;
    margin-right: 20px;
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.mainHeaderFlexCenterTextCards {
    margin-top: 20px;
    display: flex;
}

.mainHeaderFlexCenterTextCardsItem {
    background: #1E1F2E;
    width: 120px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.07);
    margin-right: 10px;
}

.mainHeaderFlexCenterCards {
    position: relative;
}

.mainHeaderFlexBottom {
    padding-bottom: 10px;
}

.mainHeaderFlexBottomApps {
    display: flex;
    align-items: center;
}

.mainHeaderFlexBottomApps>a {
    display: inline-block;
    margin-right: 20px;
    z-index: 5;
}

.mainHeaderFlexBottomApps>a>img {
    height: 45px;
}

.mainHeaderFlexBottomSocialList {
    text-align: right;
}

.mainHeaderFlexBottomSocialItem {
    margin-left: 15px;
    display: inline-block;
}

.mainHeaderFlexBottomSocialItemLink {
    color: #fff;
    transition: 0.5s;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.mainHeaderFlexBottomSocialItemLink>i {
    margin-right: 5px;
    font-size: 20px;
}

.mainHeaderFlexBottomSocialItemLink>span {
    font-size: 13px;
}

.mainHeaderFlexBottomLinedown {
    text-align: center;
    margin-top: -20px;
}

.mainHeaderFlexBottomLinedownDownImage {
    margin-top: -45px;
    animation: arrow 2s infinite;
    cursor: pointer;
}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: rotate(0deg) translate(0px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(0px, 20px);
    }
}

.mainRobot>img{
    width: 100%;
    position: relative;
}

.mainDay{
    padding-left: 50px;
}

.mainDayTop,
.mainDaySecond {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainDayTopName{
    font-size: 50px;
    font-weight: 700;
    color: #F7F8FA;
    line-height: 50px;
}

.mainDaySecondName{
    font-size: 170px;
    color: #00B1E3;
    font-weight: 700;
    line-height: 175px;
}

.mainDaySecondNumber{
    font-size: 175px;
    font-weight: 700;
    color: #00B1E3;
    line-height: 175px;
}

.mainDayTitle>h3{
    font-size: 65px;
    color: #F7F8FA;
    margin-bottom: 12px;
}

.mainDayBtn>a{
    background: linear-gradient(180deg, rgba(73, 180, 207, 1) 0%, rgba(0, 149, 186, 1) 100%);
    box-shadow: 5px 5px 25px rgb(0 177 227 / 31%);
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    line-height: 55px;
    height: 55px;
    padding: 0 40px;
    color: #fff;
}

.mainWallet {
    padding: 80px 0;
}

.mainWallet>.container>.row {
    align-items: center;
}

.mainWalletMockup {
    text-align: center;
    padding: 0 80px;
}

.mainWalletMockup>img {
    width: 100%;
    position: relative;
}

.mainWalletText>h2 {
    margin-bottom: 20px;
}

.mainWalletText>p {
    font-size: 24px;
    font-weight: 500;
    color: #00B1E3;
    margin-bottom: 20px;
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.mainWalletTextFeatures {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 50px;
}

.mainPartners .mainWalletTextFeatures{
    justify-content: flex-start;
}

.mainWalletTextFeaturesItem {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mainWalletTextFeaturesItemIcons {
    margin-bottom: 10px;
    height: 70px;
}

.mainWalletTextFeaturesItemText>h4 {
    font-size: 29px;
    font-weight: 700;
    color: #fff;
}

.mainWalletTextFeaturesItemText>p {
    color: #A8AAC3;
    font-size: 20px;
    font-weight: 300;
}

.mainWalletTextFeaturesItemText>p>span {
    display: block;
}

.mainWalletTextButtonLink {
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    box-shadow: 5px 5px 25px rgba(0, 177, 227, 0.31);
    font-size: 14px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    line-height: 55px;
    height: 55px;
    padding: 0 40px;
    margin-top: 30px;
    color: #fff;
}

.mainServicesImages {
    padding-left: 50px;
}

.mainServicesImages>img {
    width: 100%;
}

.mainServicesText {
    height: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainServicesText>p {
    font-size: 20px;
    font-weight: 300;
}

.mainServicesText>a>button {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    width: fit-content;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.mainServicesText>a>button:hover {
    color: #000207;
    background: #fff;
    transition: 0.5s;
}

.mainFeatures {
    padding: 0 0 80px;
}

.mainFeaturesTitle>h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.mainFeaturesTitle>p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
    color: #A8AAC3;
}

.mainFeaturesItem {
    background: rgba(9, 14, 28, 0.78);
    padding: 20px 40px 60px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.48);
}

.mainFeaturesItem:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

.mainFeaturesItem>img {
    height: 100px;
}

.mainFeaturesItem>h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
}

.mainFeaturesItem>p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
}

.mainCategoryTitle {
    padding-bottom: 20px;
    text-align: center;
}

.mainCategoryTitleLink {
    border-bottom: 0.5px solid #67CEEB;
    color: #67CEEB;
    transition: 0.5s;
    font-size: 20px;
}

.mainCategoryTitleLink:hover {
    color: #fff;
    border-color: #fff;
    transition: 0.5s;
}

.mainCategoryList {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mainCategoryItem {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainCategoryItem>span {
    margin: 20px 0 20px;
}

.mainCategoryItem.swiper-slide-active:before {
    content: '';
    width: 25px;
    height: 70px;
    background: url(../images/header/icon/arrow.png);
    position: absolute;
    bottom: -40px;
}

.mainPaySlider {
    width: 100%;
}

.mainPayItem {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #ddd;
}

.mainPayItemLink {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #ddd;
    background: rgba(9, 14, 28, 0.78);
    height: 150px;
    border-radius: 10px;
    padding: 0px 12px;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.48);
}

.mainPayItemLink>img {
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 100px;
    height: auto;
}

.mainPayItemLink>span {
    font-size: 14px;
    line-height: 15px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mainPayAll {
    text-align: center;
    padding-top: 4rem;
}

.mainPayAllButton {
    background: #00B1E3;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 50px;
    display: inline-block;
}

.mainVideo {
    padding: 60px 0;
}

.mainVideoImage {
    width: 100%;
    height: auto;
}

.mainNewsTitle {
    margin-bottom: 50px;
    text-align: center;
}

.mainNewsTitleLink {
    border-bottom: 0.5px solid #67CEEB;
    color: #67CEEB;
    transition: 0.5s;
    font-size: 20px;
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.mainNewsTitleLink2 {
    border-bottom: 0.5px solid #67CEEB;
    color: #67CEEB;
    transition: 0.5s;
    font-size: 20px;
    margin-left: 30px;
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.mainSlider {
    padding: 40px;
}

.mainNewsItem {
    padding: 30px 25px 30px;
    border-radius: 15px;
    transition: 0.5s;
}

.mainNewsItem:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.mainNewsItemImage {
    text-align: center;
}

.mainNewsItemImage>img {
    width: 100%;
}

.mainNewsItemDate {
    margin: 30px 0 15px;
}

.mainNewsItemDate>span {
    font-size: 11px;
    font-weight: 600;
    color: #B3B3B5;
}

.mainNewsItem>h4 {
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #00B1E3;
}

.mainNewsItem>p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}

.mainNewsItemMore>a {
    color: #00B1E3;
    font-size: 15px;
}

.mainWalletMockupPartner {
    position: relative;
}

.searchTop {
    height: 50px;
    position: relative;
}

.searchTop>input {
    width: 320px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #353642;
    background: #1E1F2C;
    position: absolute;
    color: #fff;
    right: 0;
    padding: 0 20px;
    z-index: 0;
    font-size: 12px;
}

.searchTop>button {
    height: 50px;
    width: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    cursor: pointer;
    z-index: 5;
    position: relative;
    background: rgba(159, 159, 159, 0.1) url(../images/home/search.svg) no-repeat;
    background-size: auto;
    background-position: center;
}

.searchTop>button.active {
    background: rgba(159, 159, 159, 0.1) url(../images/home/exit.svg) no-repeat;
    background-position: center;
}

.searchTop>button:focus,
.searchTop>input:focus {
    outline: 0;
}

.clickstart-img{
    position: relative;
    margin-left: -100px;
}
.clickstart-img>img{
    width: 100%;
}
.clickstart-text>h2{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #F7F8FA;
    margin-bottom: 5px;
}
.clickstart-text>p{
    font-size: 24px;
    color: #00B1E3;
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.clickstart-text>a{
    box-shadow: 5px 5px 25px rgb(0 177 227 / 31%);
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    height: 50px;
    padding: 0 40px;
    color: #fff;
    border: 0;
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
}
.clickstart-text>a:hover{
    color: #fff;
}
.clickstart-download{
    margin-top: 40px;
}
.evo{
    padding: 80px 0;
}
.evo-img{
    position: relative;
}
.evo-img>img{
    width: 100%;
}
.mainWallet1{
    padding-top: 0;
}
@media screen and (min-width:1401px) and (max-width:1799px) {
    .clickstart-img{
        margin-left: -75px;
    }
}
@media screen and (min-width:992px) and (max-width:1400px) {
    .clickstart-img{
        margin-left: -50px;
    }
}
@media screen and (max-width:1199px) {
    .clickstart-text>h2, .evolution-text>h2{
        font-size: 40px;
    }
    .clickstart-text>p{
        font-size: 18px;
    }
    .clickstart-text>button{
        height: 40px;
        line-height: 40px;
        padding: 0 30px;
    }
    .evolution-text{
        margin-bottom: 30px;
    }
    .evolution-download>h4{
        font-size: 20px;
    }
}
@media screen and (max-width:767px) {
    .clickstart-img, .evo-img, .evo-text{
        margin-left: 0;
    }
    .clickstart-text, .evolution-text, .evolution-download{
        text-align: center;
    }
}

@media(max-width:1199px) {
    .mainHeaderFlexTopCab {
        display: none;
    }
    .mainHeaderFlexTopLogoLinkImage{
        width: auto;
        height: 32px;
    }
}

.evolution {
    padding: 80px 0;
}

.evolution>.container>.row {
    align-items: center;
}

.evolution-text {
    color: #fff;
    margin-bottom: 75px;
}

.evolution-text>h2 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 70px;
}

.evolution-text>h4{
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 24px;
    margin-bottom: 35px;
}

.evolution-text>p {
    font-size: 18px;
}

.evolution-download>h4 {
    color: #00B1E3;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.evolution-list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 610px;
}

.evolution-list>a {
    display: inline-block;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.07);
}

.evolution-list>a>img {
    height: 45px;
}

@media(max-width:767px) {
    .evolution {
        padding: 40px 0;
    }
    .evolution-list {
        flex-direction: column;
    }
    .evolution-image {
        margin-bottom: 30px;
        text-align: center;
    }
    .evolution-image>img {
        width: 80%;
    }
    .evolution-list>a {
        margin: 0 0 20px;
    }
    .evolution-list>a>img {
        width: 100%;
    }
    .evolution-text>h2 {
        font-size: 30px;
    }
    .evolution-text>p {
        font-size: 16px;
    }
    .mainDay{
        padding-left: 0;
    }
    .mainDayTopName{
        line-height: 30px;
        font-size: 30px;
    }
    .mainDaySecondName{
        font-size: 70px;
        line-height: 80px;
    }
    .mainDaySecondNumber{
        font-size: 80px;
        line-height: 80px;
    }
    .mainDayTitle>h3{
        font-size: 39px;
    }
    .mainDayBtn>a{
        padding: 0;
        width: 100%;
    }
    .mainPartners .mainWalletTextFeaturesItem {
        margin-right: 0;
    }
    .mainWalletTextBox{
        text-align: center;
    }
    .mainHeaderFlexCenterText{
        text-align: center;
    }
    .mainHeaderFlexCenterTextLinks{
        justify-content: center;
    }
    .mainHeaderFlexCenterTextCards{
        justify-content: center;
    }
    .mainWalletText{
        text-align: center;
    }
}

.premium-text{
    font-family: 'Golos', sans-serif;
}

.premium__toptitle{
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 20px;
}

.premium__title{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    margin: 0 0 5px;
    color: #fff;
}

.premium__subtitle{
    font-size: 24px;
    line-height: 36px;
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 35px;
}

.premium__list{
    display: flex;
    margin-bottom: 30px;
}

.premium__left, .premium__right{
    width: 100%;
}

.premium__item{
    margin-bottom: 15px;
}

.premium__left .premium__item{
    padding-right: 15px;
}

.premium__right .premium__item{
    padding-left: 15px;
}

.premium__box{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.premium__item-icon{
    width: 32px;
    height: 32px;
    background: #34353F;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.premium__item-icon>img{
    max-width: 20px;
    max-height: 20px;
}

.premium__item-title{
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    height: 38px;
    display: flex;
    align-items: center;
    width: 160px;
}

.premium__item-des{
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    color: #A8AAC3;
    height: 75px;
}

.premium-img{
    padding: 50px;
}

.premium-img>img{
    width: 100%;
}

.premium__important{
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    color: #A8AAC3;
}

@media screen and (min-width: 1400px) and (max-height: 800px){
    .premium__toptitle{
        line-height: 35px;
        font-size: 35px;
        margin: 0 0 10px;
    }
    .premium__toptitle{
        font-size: 35px;
        line-height: 35px;
    }
    .premium__subtitle{
        line-height: 25px;
        font-size: 24px;
        margin-bottom: 25px;
    }
    .premium__item{
        margin-bottom: 10px;
    }
}

@media screen and (max-width:991px) {
    .premium__toptitle{
        font-size: 20px;
        line-height: 20px;
    }
    .mainHeaderFlexCenter>.container>.row.align-items-center{
        flex-direction: column-reverse;
    }
    .premium-img{
        margin-bottom: 10px;
        padding: 30px 0 0;
    }
    .evo{
        padding: 80px 0 0;
    }
    .premium__toptitle{
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .premium__title{
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 10px;
    }
    .premium__subtitle{
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 25px;
    }
    .premium__list{
        flex-direction: column;
    }
    .premium__left .premium__item{
        margin-bottom: 10px;
        padding-right: 0;
    }
    .premium__item-title{
        width: auto;
        display: inline-block;
        height: auto;
    }
    .premium__item-des{
        height: auto;
    }
    .premium__right .premium__item{
        margin-bottom: 10px;
        padding-left: 0;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .header1{
        height: auto;
    }
    .mainHeaderFlexCenter{
        padding-top: 200px;
    }
    .header1-top-btns-item{
        width: 80%;
    }
}

.mainprem-text{
    margin-top: 60px;
}

.mainprem-text>h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #fff;
    margin: 0 0 10px;
    font-family: 'Golos';
}

.mainprem-text>h1>span{
    color: #FFC000;
}

.mainprem-text>h4{
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #fff;
    margin: 0;
    font-family: 'Golos';
}

.mainprem-text>h4>span{
    color: #FFC000;
}

.mainprem-img{
    text-align: right;
    margin-top: -285px;
    z-index: -1;
}

.mainprem-img>img{
    max-width: 100%;
}

.mainprem-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 80px;
    font-family: 'Golos';
    margin-top: -40px;
}

.main-bottom-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    max-width: 350px;
}

.main-bottom-title>span{
    color: #FFC000;
}

.main-bottom-buttons{
    display: flex;
    gap: 40px;
}

.main-bottom-button1{
    background: linear-gradient(360deg, #0073FF -1.25%, #00C2FF 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 10px 44px rgba(1, 175, 255, 0.25);
    border-radius: 10px;
    height: 52px;
    line-height: 52px;
    display: inline-block;
    padding: 0 13px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.main-bottom-button2{
    background: linear-gradient(41.31deg, #FFC62F 21.58%, #FFEAA5 45.07%, #A37207 98.56%);
    box-shadow: 0px 10px 44px -12px rgba(255, 198, 47, 0.25);
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 13px;
    border: 0;
}

.mainprem-text>.mainprem-mob{
    display: none;
}

.mainprem-text>.mainprem-mob2{
    display: none;
}

.mainprem-text>.mainprem-mob3{
    display: none;
}

.mainprem-text>.mainprem-mob4{
    display: none;
}

@media screen and (max-width:1400px) {
    .mainprem-img{
        margin-top: -240px;
    }
}

@media screen and (max-width:1199px) {
    .header1-top-btns-item.header1-top-btns-market,
    .header1-top-btns-item.header1-top-btns-sale{
        width: 100%;
    }
    .mainprem-text{
        margin-top: 200px;
    }
    .mainprem-bottom{
        flex-wrap: wrap;
    }
    .main-bottom-title{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 991px) {
    .header2 {
        background: url(../../premiumland/images/header_m.jpg) 100% no-repeat;
        background-size: cover;
        background-position: top left;
    }
    .mainprem-text{
        margin-top: 50px;
        text-align: center;
    }
    .mainprem-img, .mainprem-bottom{
        display: none;
    }
    .mainprem-text>.mainprem-mob{
        display: block;
    }
    .mainprem-text>.mainprem-mob2{
        display: block;
        margin: 30px 0 15px;
    }
    .mainprem-text>.mainprem-mob3{
        display: block;
        margin-bottom: 20px;
        max-width: 225px;
    }
    .mainprem-mob2>img{
        height: 40px;
    }
    .mainprem-text>.mainprem-mob4{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        gap: 20px;
    }
    .main-bottom-button1{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 13px;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        background: linear-gradient(360deg, #0073FF -1.25%, #00C2FF 100%);
        mix-blend-mode: normal;
        box-shadow: 0px 10px 44px rgb(1 175 255 / 25%);
        border-radius: 10px;
        height: 40px;
        line-height: 40px;
    }
    .main-bottom-button2{
        display: flex;
        align-items: center;
        height: 40px;
        line-height: 40px;
        justify-content: center;
        background: linear-gradient(41.31deg, #FFC62F 21.58%, #FFEAA5 45.07%, #A37207 98.56%);
        box-shadow: 0px 10px 44px -12px rgb(255 198 47 / 25%);
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        padding: 0 13px;
        border: 0;
    }
    .mainprem-mob>img{
        max-width: 100%;
    }
    .mainprem-text>h1{
        font-weight: 700;
        font-size: 26px;
        line-height: 29px;
        margin-top: 25px;
    }
    .mainprem-text>h4{
        font-weight: 700;
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 0;
    }
    .mainprem-mob3{
        font-size: 26px;
        line-height: 29px;
        max-width: 100%;
        margin: 0 auto;
        z-index: 5;
        font-weight: 700;
    }
    .mainprem-mob3>span{
        color: #FFC000;
    }
    .mainprem{
        margin-bottom: 40px;
        margin-top: 200px;
    }
    .mainPartners .mainWalletTextFeatures{
        gap: 20px;
    }
    .mainNewsTitle{
        margin-bottom: 30px;
    }
}
.mainVerify{
    padding: 80px 0;
}
.mainVerify>.container>.row{
    align-items: center;
}
.mainVerifyText>h3{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #F7F8FA;
    margin: 0 0 5px;
}
.mainVerifyText>p{
    font-weight: 500;
    line-height: 36px;
    font-size: 24px;
    color: #00B1E3;
    background: linear-gradient(43.66deg, #0073FF 15.79%, #00DEFF 81.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0 0 40px;
}
.mainVerifyBox{
    display: flex;
    gap: 120px;
    margin-bottom: 60px;
}
.mainVerifyItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainVerifyIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}
.mainVerifyTitle{
    font-size: 18px;
    line-height: 25px;
    color: #A8AAC3;
}
.mainVerifyMore>a{
    display: inline-block;
    background: linear-gradient(360deg, #0073FF -1.25%, #00C2FF 100%);
    border-radius: 10px;
    height: 47px;
    line-height: 47px;
    border: 0;
    padding: 0 50px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.mainVerifyMockup{
    position: relative;
    text-align: center;
}
.mainVerifyMockup::before{
    content: '';
    width: 250px;
    height: 250px;
    background: rgba(0, 115, 255, 0.5);
    filter: blur(132.889px);
    border-radius: 50%;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    z-index: 0;
    position: absolute;
}
.mainVerifyMockup>img{
    position: relative;
    z-index: 5;
    max-width: 100%;
}
@media screen and (max-width:991px) {
    .mainVerify{
        padding: 40px 0;
    }
    .mainVerify>.row{
        flex-direction: column-reverse;
    }
    .mainVerifyText{
        text-align: center;
    }
    .mainVerifyText>h3{
        font-size: 30px;
    }
    .mainVerifyText>p{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .mainVerifyBox{
        flex-direction: column;
        gap: 30px;
        margin-bottom: 45px;
    }
    .mainVerifyMore{
        display: flex;
        justify-content: center;
    }
    .mainVerifyMockup{
        padding-top: 50px;
    }
    .mainVerifyMockup>img{
        max-width: 70%;
    }
}
